n8n_workflow.json
{
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "campaign-trigger",
        "options": {}
      },
      "id": "6ae3a7ad-5194-4e4e-8564-d3415f7f5f67",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        112,
        256
      ],
      "webhookId": "c0fc2f30-c906-49dc-95b8-2207c41f9f72"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Automatically handles nested 'body' data from n8n webhooks!\nconst json = $input.item.json.body || $input.item.json;\nconst text = json.campaign_report || '';\n\n// Split the markdown by standard H2/H3 headers\nconst sections = text.split(/\\n##?\\s+/);\n\nlet research = '';\nlet contentStrategy = '';\nlet paidAds = '';\n\nfor (const section of sections) {\n  const lines = section.split('\\n');\n  const title = lines[0].toLowerCase();\n  \n  if (title.includes('research') || title.includes('trend')) {\n    research = '## ' + section.trim();\n  } else if (title.includes('content') || title.includes('social') || title.includes('write')) {\n    contentStrategy = '## ' + section.trim();\n  } else if (title.includes('ad') || title.includes('paid') || title.includes('budget')) {\n    paidAds = '## ' + section.trim();\n  }\n}\n\nif (!research) research = text;\nif (!contentStrategy) contentStrategy = text;\n\n// Extract LinkedIn & Instagram specific sections\nlet linkedin = '';\nconst liMatch = contentStrategy.match(/(?:LinkedIn|Professional Post):?\\s*([\\s\\S]*?)(?=\\n(?:Twitter|Instagram|X|Post 2)|$)/i);\nlinkedin = liMatch ? liMatch[1].trim() : contentStrategy;\n\nlet instagram = '';\nconst igMatch = contentStrategy.match(/(?:Instagram|IG Caption):?\\s*([\\s\\S]*?)(?=\\n(?:LinkedIn|Twitter|X|Post)|$)/i);\ninstagram = igMatch ? igMatch[1].trim() : contentStrategy;\n\nreturn {\n  json: {\n    brand_name: json.brand_name || 'N/A',\n    product_name: json.product_name || 'N/A',\n    target_audience: json.target_audience || 'N/A',\n    marketing_goal: json.marketing_goal || 'N/A',\n    campaign_budget: json.campaign_budget || 'N/A',\n    research_brief: research,\n    content_strategy: contentStrategy,\n    paid_ads_strategy: paidAds,\n    linkedin_post: linkedin,\n    instagram_caption: instagram\n  }\n};"
      },
      "id": "dd65f20c-1ef4-41d5-8c3a-ca87d716f0e7",
      "name": "Parse & Extract Sections",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        336,
        256
      ]
    },
    {
      "parameters": {
        "sendTo": "nithyasria10a@gmail.com,harivarshan45@gmail.com",
        "subject": "=🚀 CrewAI Campaign: {{ $json.brand_name }} - {{ $json.product_name }} Ready!",
        "emailType": "text",
        "message": "=📢 BRAND CAMPAIGN PACKAGE SUCCESSFULLY COMPILED\n\nBrand: {{ $json.brand_name }}\nProduct: {{ $json.product_name }}\nAudience: {{ $json.target_audience }}\nBudget: {{ $json.campaign_budget }}\n\n=========================================\n🕵️\u200d♂️ MARKET RESEARCH BRIEF\n=========================================\n{{ $json.research_brief }}\n\n\n=========================================\n✍️ CONTENT STRATEGY & SOCIAL COPY\n=========================================\n{{ $json.content_strategy }}\n\n\n=========================================\n💳 PAID ADVERTISING BLUEPRINT\n=========================================\n{{ $json.paid_ads_strategy }}",
        "options": {}
      },
      "id": "ccdac234-43ad-4001-b84e-494a0cc36fa3",
      "name": "Email Notification",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        560,
        352
      ],
      "credentials": {
        "gmailOAuth2": {
          "id": "b6RGEg2d2zgukAqA",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "=7568714587",
        "text": "=🚀 New Campaign Generated!\n\nBrand: {{ $json.brand_name }}\nProduct: {{ $json.product_name }}\nGoal: {{ $json.marketing_goal }}\nBudget: {{ $json.campaign_budget }}",
        "additionalFields": {}
      },
      "id": "68261a76-6d11-4255-96d7-aaf052b63c90",
      "name": "Telegram Alert: Info",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        560,
        160
      ],
      "credentials": {
        "telegramApi": {
          "id": "tBnyYkaei0lnorDp",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "=7568714587",
        "text": "=📝 LinkedIn Draft (Full View):\n=========================================\n{{ $(\"Parse & Extract Sections\").item.json.linkedin_post.substring(0, 3800) }}",
        "additionalFields": {
          "parse_mode": "HTML"
        }
      },
      "id": "745880ce-fc39-4bfb-8bc6-f3b5156bcc28",
      "name": "Telegram Alert: LinkedIn",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        784,
        160
      ],
      "credentials": {
        "telegramApi": {
          "id": "tBnyYkaei0lnorDp",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "=7568714587",
        "text": "=📸 Instagram Draft (Full View):\n=========================================\n{{ $(\"Parse & Extract Sections\").item.json.instagram_caption.substring(0, 3800) }}\n\n=========================================\n📬 The complete, full-text strategy has been sent to your email inbox!",
        "additionalFields": {
          "parse_mode": "HTML"
        }
      },
      "id": "6371d32c-ea30-4d01-95af-ad37e9e54d5b",
      "name": "Telegram Alert: Instagram",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1008,
        160
      ],
      "credentials": {
        "telegramApi": {
          "id": "tBnyYkaei0lnorDp",
          "name": "Telegram account"
        }
      }
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Parse & Extract Sections",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse & Extract Sections": {
      "main": [
        [
          {
            "node": "Email Notification",
            "type": "main",
            "index": 0
          },
          {
            "node": "Telegram Alert: Info",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Alert: Info": {
      "main": [
        [
          {
            "node": "Telegram Alert: LinkedIn",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Alert: LinkedIn": {
      "main": [
        [
          {
            "node": "Telegram Alert: Instagram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "882b1b53c057ee0b3a0ff90611ade33f00a5789441a7f7f5d2e8f6a364302262"
  }
}
